
  <section class="orders-show">

<h2>Welcome <%= @customer.first_name%>!</h2>
<div class="black">
<div class="order-summary jumbotron">
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2"><h3>Services</h3></th>
        </tr>
      </thead>
      <tbody>
        <% @customer.bookings.reverse.each do |book| %>
          <%= render 'service', service: book.service %>
        <% end %>
      </tbody>

    </table>
  </div>

  <%= link_to "Continue Booking", services_path, class: 'btn btn-lg btn-primary' %>

</section>



</div>

