<div class="black">
<section class="orders-show">



    <h2>Welcome <%= @service_provider.first_name%>!</h2>


<div class="order-summary jumbotron">
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2"><h3>Services</h3></th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <%= render 'service', service: service %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "Create new service", new_service_path, class: 'btn btn-lg btn-primary' %>
</section>


