// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
$alertBooked: rgb(255, 107, 151);
.RCC{
  display:flex;
  margin-top: 8em

}

.RU{
  width: 10em;
  text-align: center
}

#error_explanation {
  border: 1px solid black;
  margin: 0 auto;
  font-weight: 900;
  border-radius:15px;
  padding:10px;
  text-align: center;
  background-color: $alertBooked;
  width:80%;
}

#errorCount {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

}