// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.RCC{
  display:flex;
  margin-top: 8em

}

.RU{
  width: 10em;
  text-align: center
}