// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
 //= require jquery

.navbar-inner {
    height: 80px;
}

.black{
  color:black;
}

.order-summary .jumbotron{
  padding:  15px 7px;
  border-radius: 5px;
}


