// Place all the styles related to the service_providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$alertBooked: rgb(255, 107, 151);

.style_image{

        max-width: 100%;
        max-height: 150px;
        margin: 0px;
        display: block;
}
.serviceFeed {
      margin-top: 6em;
}
.newSec{
  margin-top: 3em;
}


#newService {
  margin-left: 7.5em;
  margin-top: 6em;
  }

#booked {
  color: red;
}

#not {
  color: #808080;
}




.RRSP{
  display:flex;
  margin-top: 8em
}

.RP {
  width:10em;
  text-align: center
}

#error_explanation {
  border: 1px solid black;
  margin: 0 auto;
  font-weight: 900;
  border-radius:15px;
  padding:10px;
  text-align: center;
  background-color: $alertBooked;
  width:80%;
}

#errorCount {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;

}




