
<style>

  p{
    font-size: 20px;
  }
</style>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="dialog" style='color:black'>
    <div>
      <h1 style='color:red; margin: 30px auto;'>The page you were looking for doesn't exist.</h1>
      <p>You may have mistyped the address or the page may have moved.</p>
    </div>
    <p>If you are the application owner check the logs for more information.</p>
  <br>
  <br>
  <br>
  <br>
        <p>Enjoy the trippy broken background easter egg while you're here. It kind of looks like sick ocean waves.</p>
  </div>
