<div class="splash">

  <div class="left">
    <h1 class="title">LANCR</h1>
      <%= image_tag('lancr.jpg')%>

  </div>

  <div class="right">
    <div class="splashImg">
      <%= image_tag('customer.jpg')%>
    </div>
  <h1>Whatever you need there's a LANCR for the deed</h1>
  </div>
</div>